# Load Data from Database Using SQL

In [ ]:
import pandas as pd

from sqlalchemy import create_engine

In [ ]:
# Connect to sqlite db
db_file = r'datasets/gradedata.db'
engine = create_engine(r"sqlite:///{}".format(db_file))

In [ ]:
#find out what tables are in the database
sql = "SELECT name FROM sqlite_master WHERE type = 'table';"

table_names = pd.read_sql(sql, engine)
table_names

In [ ]:
#get all the rows from the "test" table in the database
sql = "SELECT * FROM test;"
sales_data_df = pd.read_sql(sql, engine)
sales_data_df

In [ ]:
#query with conditional
sql = 'SELECT * FROM test WHERE Grades IN (76,77,78)'

grades_df = pd.read_sql(sql, engine)
grades_df